@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

body{
    margin: 0;
    padding: 0;
    font: 14px "Roboto", sans-serif;
    color: #333;
    background: #eaebec;
    -webkit-font-smoothing: antialiased !important;
}

.cabecalho{ /* Criando a classe do cabeçalho*/
    height: 40px;
    padding: 30px;
    text-align: left;
    background: red;
    overflow: hidden;
}

.menu { /*Criando a classe do menu*/
    background-color: green;
    overflow: hidden;
}

.menu ul{ 
    margin-right: 10%;
    margin-right: 10%;
}

.menu ul, li{
    padding: 0;
    margin: 0;
}

.menu li, a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

.menu a:hover{
    background-color: white;
    color: black;
}

.row { /*criando a linha que separa as seções*/
    padding: 10px;
}

#secao1 { 
    float: left;
    width: 70%;
    background-color: greenyellow;
    margin: 10px;
}

#secao2 {
    float: left;
    width: 25%;
    background-color: yellow;
    margin: 10px;
}

.row::after{ /*cria uma limpeza*/
    content: "";
    display: table;
    clear: both;
}

.rodape {
    padding: 30px;
    background: yellow;
    text-align: center;
    margin-top: 20px;
}