
h1 {
    color: blue;
    text-align: center;
}
p {
    color: brown;
    font-weight: bold;
    text-align: left;
}

.h1verde {
    color: green;
}
#p2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;
}
div {
    border: 5px; /*Definino o tamanho da borda*/
    border-color: red; /*Definino a cor da borda*/
    border-style: solid; /*definino o estilo da borda */
    height: 200px; /*definino a altura da borda*/
    width: 300px; /*definino a largura da borda*/
    margin: 100px; /*definino o tamanho da margem*/
    padding: 30px; /*definino o preenchimento*/
}